.services_contianer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service_title {
  text-align: center;
  color: brown;
}

/* Large desktop :1920px. */
@media (min-width: 1920px) {
}

/* Laptop Device :1366px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .services_contianer{
        grid-template-columns: repeat(2,1fr);
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .services_contianer{
        grid-template-columns: repeat(1,1fr);
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
